@font-face {
  font-family: "librebaskerville-regular";
  src: url("/integration-template-howdy/fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff"),
    url("/integration-template-howdy/fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format("woff2"),
    url("/integration-template-howdy/fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff"),
    url("/integration-template-howdy/fonts/librebaskerville/librebaskerville-italic-webfont.woff2") format("woff2"),
    url("/integration-template-howdy/fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff"),
    url("/integration-template-howdy/fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "montserrat-regular";
  src: url("/integration-template-howdy/fonts/montserrat/montserrat-bold-webfont.woff") format("woff"),
    url("/integration-template-howdy/fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"),
    url("/integration-template-howdy/fonts/montserrat/montserrat-regular-webfont.woff") format("woff"),
    url("/integration-template-howdy/fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2");
}

.font-montserrat {
  font-family: "montserrat-regular", serif !important;

}

:root {
  font-size: 10px;
}

body {
  background: #050505;
  font-family: "librebaskerville-regular", serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #353535;
  margin: 0;
  padding: 0;
  z-index: -50;
}

#home {
  background: #151515;
  width: 100%;
  height: 100%;
  background-image: url(/integration-template-howdy/images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 804px;
  position: relative;
  z-index: -10;
}

#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #000000;
  z-index: -10;
}



#text-header {
  z-index: 500 !important;
  line-height: 1.5 !important;
}

#text-header h1 {
  font-style: bold;
  line-height: inherit;
  font-size: 3rem;
}

header {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 700;
}

.main-logo {
  width: 54px;
  height: 54px;
}

header .main-logo a {
  width: 54px;
  height: 54px;
  background-size: 54px 54px;
}

header .main-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  background: url(/integration-template-howdy/images/logo-sm.png) no-repeat center;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 992px) {
      #text-header h1{
        font-size: 5.2rem;
      }

}
